menu "SENSORS"
     config MAX_SENSOR_COUNT
     	    int "Maximum number of sensors used"
     	    default 8
	    help
		Sets an upper limit of sensors that are supported

     config NUM_CALIBRATION_SAMPLES
     	    int "Number of readings for calibration"
	    default 50
	    help
		Calibration is done due many readings, which gets averaged. This is the number of readings to take per calibration
endmenu